.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--bg-header);
  border-bottom: 1px solid var(--border-color-default);
  box-shadow: var(--shadow-sm);
}

.header-title {
  color: var(--text-color-default);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xxl);
  margin: 0;
}

@media (min-width: 769px) {
  .header {
    padding: var(--spacing-lg) var(--spacing-xl);
  }

  .header-title {
    font-size: var(--font-size-xxl);
  }
}
