:root {
  /*  CORES PRINCIPAIS  */
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-success: #4caf50;
  --color-success-hover: #2e7d32;
  --color-error: #ef4444;
  --color-error-hover: #ff4f4f;
  --color-warning: #ff9800;
  --color-warning-hover: #ed6c02;

  /*  TEXTOS  */
  --text-color-default: #1c2142;
  --text-color-primary: #ffffff;
  --text-color-secondary: #6b7280;

  /*  RAIO DA BORDA  */
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  /*  BACKGROUNDS  */
  --bg-body: #f9fafb;
  --bg-header: #ffffff;
  --bg-card: #ffffff;
  --bg-overlay: rgba(0, 0, 0, 0.5);
  
  /* TRANSIÇÕES */
  --transition-fast: 0.15s ease;
  --transition-normal: 0.2s ease;
  --transition-slow: 0.3s ease;

  /*  STATUS  */
  --status-to-do: #f5f5f5;
  --status-pending: #f59e0b;
  --status-in-development: #3b82f6;
  --status-done: #10b981;

  /* STATUS DA RESPOSTAS */
  --res-status-success: #059669;
  --res-status-warning: #f59e0b;
  --res-status-error: #ef4444;

  /*  TIPOGRAFIA  */
  --font-family: "Open Sans", sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 22px;
  --font-size-xxl: 24px;

  /* FONT WEIGTH */
  --font-weight-xs: 100;
  --font-weight-sm: 300;
  --font-weight-md: 400;
  --font-weight-lg: 500;
  --font-weight-xl: 600;
  --font-weight-xxl: 700;
  --font-weight-xxxl: 800;

  /*  ESPAÇAMENTOS  */
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
  --spacing-xl: 32px;

  /*  PADDINGS  */
  --padding-xs: 2px;
  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-lg: 16px;
  --padding-xl: 32px;

  /* BORDER COLOR */
  --border-color-default: #e5e7eb;
  --border-color-btn-outlined: #4f46e5;
  --border-color-btn-outlined-hover: #4e46aa;
}
