@import "./styles/variables.css";
@import "./styles/reset.css";

@import "./styles/layout/header.css";
@import "./styles/layout/main.css";

@import "./styles/components/button.css";
@import "./styles/components/modais/index.css";
