* {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  font-family: googlepis;
}

header {
  border-bottom: 1px solid #c5b0b0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

button {
  border-radius: 6px;
  background-color: rgb(131, 40, 131);
  color: white;
  font-size: 22px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: purple;
  transform: translateY(-1px);
  box-shadow: rgb(0, 0, 0, 1);
}
